@media screen and (min-width: 428px) {
  .container {
    max-width: 398px;
    padding: 0 15px;
  }
  .section-doing {
    display: none;
  }
  .team-section .container {
    padding-left: 66px;
    padding-right: 66px;
  }
  .team-section .card-img {
    max-width: 264px;
  }
  .footer-subc-box {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 738px;
  }
  .hero {
    background-color: var(--herobackground);
    padding: 112px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7) rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-mob-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1440px;
    background-position: center;
    margin: auto;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .box {
      background-color: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-tab-bg@x2.jpg);
    }
  }
  .hero-header {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    margin-bottom: 36px;
  }

  .advantages-section .card-set {
    gap: 72px 24px;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .advantages-section .card {
    min-width: 500px;
  }
  .advantages-section .card {
    flex-basis: calc((100% - 24px) / 2);
  }

  .section-doing {
    display: none;
  }
  .team-section .card-set {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .team-section .card {
    width: calc((100% - 24px) / 2);
    gap: 64px 24px;
  }
  .customer-section .card {
    width: calc((100% - 2 * 24px) / 3);
  }
  .flex-box {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    padding-left: 108px;
    gap: 72px 24px;
    justify-content: left;
  }
  .footer-form {
    align-items: left;
  }
  .footer-form {
    flex-direction: row;
    align-items: flex-start;
    gap: 24px;
  }
  .footer-input {
    width: 264px;
  }
  .footer-subc-title {
    text-align: left;
  }
  .footer-subc-box {
    width: 453px;
  }
}

@media screen and (min-widht: 1158px) {
  .container {
    max-width: 1128px;
  }
  .hero {
    background-color: var(--herobackground);
    padding: 118px 0;
    background-image: linear-gradient(
        rgba (46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1440px;
    background-position: center;
    margin: auto;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .box {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero_bg@x2.jpg);
    }
  }

  .advantages-section .card-set {
    flex-direction: row;
    gap: 24px;
  }
  .advantages-section .card_subtitle {
    font-weight: 400;
  }
  .advantages_icon-box {
    display: flex;
  }

  .section-doing {
    display: flex;
  }
  .section-doing .card-set {
    gap: 24px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .section-doing .card {
    width: calc((100% - 2 * 24px) / 3);
  }
  .team-section .card {
    flex-basis: calc((100% - 3 * 24px) / 4);
  }
  .team-section .container {
    padding-left: 0px;
    padding-right: 0px;
  }
  .customer-section .card-set {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
  }
  .customer-section .card {
    width: calc((100% - 24px) / 2);
    gap: 24px;
  }
  .customer-section .card {
    width: calc((100% - 5 * 24px) / 6);
  }
  .footer .container {
    padding: 0px;
  }
  .flex-box {
    gap: 0px;
  }
  .footer-box {
    margin-right: 120px;
    align-items: baseline;
    display: flex;
  }
  .footer-soc-box {
    margin-right: 80px;
    align-items: baseline;
    display: flex;
  }
}
